# Image configuration
IMAGE_PREFIX=antoniofriesen
IMAGE_TAG=latest

# Port mappings
MOSQUITTO_PORT=1883
DASHBOARD_BACKEND_PORT=5175
DASHBOARD_FRONTEND_PORT=5173
SCOREBOARD_BACKEND_PORT=8001
SCOREBOARD_FRONTEND_PORT=8002
